body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    color: white;
    text-shadow: 0 0 1px black;
    background: linear-gradient(rgb(0, 204, 255), pink);
}

#header {
    display: flex;
    flex-direction: column;
}

#bff-img {
    width: 150px;
    border: 8px solid pink;
    border-radius: 50%;
    margin: auto;
}

.header-h2 {
    margin: 20px auto 10px auto;
    padding: 10px 10px;
    background-color: pink;
    border-radius: 4px;
}

.header-h4 {
    margin: auto;
    padding: 5px 5px;
    background-color: pink;
    border-radius: 4px;
}

.gift-img {
    margin: auto;
   max-width: 400px;
   height: 400px;
   border: 6px solid white;
   border-radius: 6px;
   background-image: url(images/gift-cover.jpg);
   background-size: cover;
}

#happy:hover {
    background-image: url(images/happy.gif);
    background-size: cover;
}

#hot:hover {
    background-image: url(images/hot.gif);
    background-size: cover;
}

#genius:hover {
    background-image: url(images/genius.gif);
    background-size: cover;
}

#badass:hover {
    background-image: url(images/badass.gif);
    background-size: cover;
}

#cheers:hover {
    background-image: url(images/cheers.gif);
    background-size: cover;
}

.cheers {
    height: 200px;
}

#gif-one {
    margin-top: 40px;
}

footer {
    width: 400px;
    margin: auto;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}