body {
    margin: 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: aliceblue;
}

/* Section 01 */

.header {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    height: 681px;
    background-image: url(images/hero.jpg);
    background-size: cover;
}

.header-title {
    margin:  auto auto 11px auto;
    font-size: 32px;
    line-height: 36.8px;
    align-self: center;
    justify-content: center;
    border-radius: 8px;
    padding: 5px 10px;
    background: #1D3557;
}

.header-subtitle {
    margin: 0 auto auto auto;
    width: 355px;
    align-self: center;
    justify-content: center;
    font-size: 18.72px;
    line-height: 21.53px;
    border-radius: 8px;
    padding: 5px 10px;
    background: #457B9D;
}

/* Section 02*/

.activities {
    height: 343px;
    background-color: #F1FAEE;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.activities-title {
    color: #1D3557;
    font-size: 16px;
    line-height: 18.4px;
    width: 183px;
}

.activities-subtitle {
    color: #1D3557;
    width: 198px;
    line-height: 18.4px;
}


.img {
    border-radius: 50%;
}

/* Section 03 */

.guide {
    display: flex;
    height: 394px;
    background-color: #A8DADC;
}

.card {
    display: flex;
    margin: auto;
    height: 294px;
    width: 500px;
    background-color: white;
    box-shadow: 0px 6px 0px #1D3557;
    border-radius: 10px;    
    border-bottom: 12px solid #1D3557;
}

.card-img {
    margin: auto;
}

.guide-img {
    height: 240px;
    border-radius: 20%;
    padding: 10px;
}

.guide-title {
    color: #1D3557;
}

.guide-text {
    color: #1D3557;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.4px;
}

.guide-name {
    color: #1D3557;
    font-size: 16px;
    line-height: 18.4px;
}

.card-text {
    padding: 10px;
    text-align: center;
    margin: auto;
}
